@import url(./__link/resourses__link.css);
@import url(./__logo-zone/resourses__logo-zone.css);

.resourses{
  padding: 100px 0 217px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
