.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background-size: cover;
  background-image:url(../../../images/header-image.png);
  object-fit: contain;
}
